header {
   
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5% 0 13% 0;
}

.headerImgs {
    position: relative;
}

.logoContainer{
    position: absolute;
    top: -16%;
    left: 45%;
    right: 45%;
    width: 15%
}

.logo {
    width: 100%;
    z-index: 10;
}



