.registrationLabel {
    text-align: center;
}

.registrationButton {
    font-size: 1rem;
    display: block;
    color: #113362;
    background-color: #FB4950;
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    margin: 0 auto; 
    &:hover {
        color:#FB4950;
        background-color: #113362;
    } 
}

.event1 {
    color: #113362;
    background-color: #FB4950;
    text-align: center;
}

.eventContainer {
    background-color: white; 
}

.covidInfoButton {
    font-size: 1rem;
    &:hover {
    color: #FB4950;
    
    }
}

.sponsorLogos {
    display: flex;
    flex-direction: row;
    object-fit: cover;
}


.areej-logo,
.tac-logo {
    padding: 50px;
}
